body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  color: #40514E;
}

h1 {
  margin: 50px auto 0;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-color: #11999E;
  border-width: 10px;
}

.display-photo {
  width: 12.5%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
a {
  color: #11999E;
}

.skills {
  background-color: #E4F9F5;
  padding-bottom: 6.5rem;
  padding-top: 3.5rem;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}
.skills-img-code {
  width: 25%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
  float: left;
  margin-right: 30px;
}
.skills-img-analytics {
  width: 25%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  margin: 0;
  height: 150px;
  margin-top: 100px;
  padding-top: 70px;
}
.copyright {
  margin-bottom: 0;
  margin-top: 50px;
  color: white;
  font-size: 1rem;
}
.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}
.profile {
  margin: 100px auto;
}
.profile-intro {
  width: 40%;
  margin: auto;
  padding-top: 100px;
}
.contact-me {
  padding-bottom: 6.5rem;
  padding-top: 3.5rem;
}
