body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
}

h1 {
  margin: 50px auto 0;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-color: #11999E;
  border-width: 10px;
  margin: 100px auto;
}

.display-photo {
  width: 12.5%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin-top: 60px;
}

.bottom-container {

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
a {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}
.skills-img-code {
  width: 25%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
  float: left;
  margin-right: 30px;
}
.skills-img-analytics {
  width: 25%;
  border-radius: 100%;
  border: solid 5px;
  border-color: #11999E;
  float: right;
  margin-left: 30px;
}
